<!-- <h1>{{client?.nom}}</h1> -->
<app-navigation-bar></app-navigation-bar>
<app-navigation2></app-navigation2>
<div class="container">

<h3>{{client.nom}} {{client.prenom}}</h3></div>
<div class="container">
  <div class="chart-container">
    <div id="chart" *ngIf="chartOptions">
      <apx-chart
        [series]="chartOptions.series!"
        [chart]="chartOptions.chart!"
        [xaxis]="chartOptions.xaxis!"
        [stroke]="chartOptions.stroke!"
        [dataLabels]="chartOptions.dataLabels!"
        [yaxis]="chartOptions.yaxis!"
        [labels]="chartOptions.labels!"
        [legend]="chartOptions.legend!"
        [title]="chartOptions.title!"
        [subtitle]="chartOptions.subtitle!"
      ></apx-chart>
    </div>
  </div>
  <div class="chart-container">
    <div id="chart" *ngIf="chartOptions2">
      <apx-chart
        [series]="chartOptions2.series!"
        [chart]="chartOptions2.chart!"
        [xaxis]="chartOptions2.xaxis!"
        [stroke]="chartOptions2.stroke!"
        [dataLabels]="chartOptions2.dataLabels!"
        [yaxis]="chartOptions2.yaxis!"
        [labels]="chartOptions2.labels!"
        [legend]="chartOptions2.legend!"
        [title]="chartOptions2.title!"
        [subtitle]="chartOptions2.subtitle!"
      ></apx-chart>
    </div>
  </div>
</div>

