<div class="circle-container">
    <div class="circle">
      <i class="bi bi-heart-fill"></i>      <p>Heart Rate Monitoring</p>
    </div>
    <div class="circle">
      <i class="bi bi-droplet-fill"></i>      <p>Blood Oxygen Saturation</p>
    </div>
    <div class="circle">
      <i class="bi bi-thermometer-half"></i>      <p>Skin Temperature</p>
    </div>
    <div class="circle">
      <i class="bi bi-activity"></i>      <p>ECG</p>
    </div>
    <div class="circle">
      <i class="bi bi-moon-stars-fill"></i>      <p>Sleep Monitoring</p>
    </div>
  </div>