body {
  display: flex;
  align-items: center;
  justify-content: center;
}


.container{
  padding-top: 10vh;
  width: 40%;
}

.header {
  display: flex;
  align-items: center;
}

.header img {
  margin-right: 10px; /* Adjust the margin as needed */
}